.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: red;
  width: 90%;
  height: 50%;
}
h1{
  text-align: center;
}
.spacing{
  margin: 10px;
}
