input {
  margin-bottom: 10px;
  width: 10px;
}
h3 {
  text-align: left;
}
/* .row {
  width: 100%;
  margin: 0px;
} */
.form-control-sm {
  width: 20%;
}
.direction {
  display: flex;
  flex-direction: column;
}
#name {
  width: 100%;
  font-size: 20px;
}
#money {
  margin-right: 15px;
}
#description {
  width: 100%;
}
#submit-btn {
  width: 100%;
}
.sm {
  width: 30%;
}
@media only screen and (min-width: 768px) {
  #name {
    width: 30%;
    font-size: 20px;
  }
  #money {
    margin-right: 15px;
  }
  #description {
    width: 30%;
  }
  #submit-btn {
    width: 30%;
  }
  .sm {
    width: 15%;
  }
}
