input {
  margin-bottom: 10px;
  width: 10px;
}
h3 {
  text-align: left;
}
/* .row {
  width: 100%;
  margin: 0px;
} */
.form-control-sm {
  width: 20%;
}
.direction {
  display: flex;
  flex-direction: column;
}
#name{
  width: 100%;
}
#money{
  margin-right: 15px;
}
#description{
  width: 100%;
}
#submit-btn{
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .form-control-sm {
    width: 20%;
  }
  .sm {
    width: 8%;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .btn {
    width: 8%;
    height: auto;
  }
  input {
    margin-right: 10px;
  }
}
